@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 80%;
  margin: auto;
}
/* ===== Banner sections start ===== */
.header {
  overflow: hidden;
}

.banner {
  background-color: #161616;
  color: #ffffff;
  border-radius: 5px;
  margin-top: 50px;
}

.bannerContainer {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
}

.content {
  flex: 50%;
}
.content h1 {
  font-size: 3em;
  text-transform: capitalize;
}

.content p {
  margin: 30px 0;
  line-height: 1.5em;
}

.btn {
  background-color: #dd0000;
  padding: 0.5em 0.5em;
  border-radius: 5px;
  text-decoration: none;
  color: #ffffff;
}

i {
  margin-left: 5px;
}

.btn:hover {
  color: #000;
  background-color: #fff;
}
.imgMessi {
  flex: 50%;
  text-align: right;
}

.imgMessi img {
  width: auto;
  height: 500px;
  margin-bottom: -10px;
  padding-top: 20px;
}
/* ===== Banner sections End ===== */

/* ===== main sections ===== */

/* ===== Menu sections start ===== */

.mainSections {
  margin: 80px 0;
}
.menuSection {
  width: 200px;
  background-color: #161616;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  float: left;
  overflow: hidden;
  margin-right: 10px;
}

.menuSection ul {
  list-style-type: none;
}

.menuSection ul li {
  padding: 10px 20px;
  background-color: #fff;
  margin: 15px;
  border-radius: 5px;
  text-transform: capitalize;
}
.menuSection ul li:hover {
  background-color: #dd0000 !important;
  cursor: pointer;
}
.menuSection ul li:hover a {
  color: #fff;
}

.menuSection ul li a {
  color: #161616;
  text-decoration: none;
}

.active {
  background-color: #dd0000 !important;
}
.active a {
  color: #fff !important;
}
/* ===== Menu sections end ===== */

/* ===== Upcoming sections Part One start ===== */
.upcomingMatch {
  overflow: hidden;
}
.upcomingTitle {
  text-align: center;
  color: #161616;
  font-size: 1.4em;
  margin-bottom: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
}

.grid-item {
  text-align: center;
  padding: 40px 0;
  border-radius: 5px;
  border: 1px solid rgba(22, 22, 22, 0.1);
}
.flags {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flags img {
  width: 80px;
  height: auto;
}

.flags span {
  padding: 0 20px;
}

.counties {
  margin: 15px 0;
}

.counties span {
  font-weight: bold;
  font-size: 18px;
  color: #161616;
}
.countriesGap {
  padding: 0 10px;
}

.grid-item p {
  font-size: 12px;
  color: #4d4d4d;
}

/* ===== Upcoming sections Part One End ===== */
/* ===== Upcoming sections Part Two start ===== */

.upcomingMatchTwo {
  margin: 50px 0;
}

.tabs {
  text-align: center;
  padding: 10px 0 240px 0;
  overflow: hidden;
}
.tabs ul li {
  display: inline;
  padding: 10px 20px;
  cursor: pointer;
  color: #000;
  border-radius: 5px;
  margin: 0 10px;
  /* position: relative; */
}

.tabs ul li:hover {
  background-color: #dd0000;
  color: #fff;
}

.angleStyle {
  background: transparent !important;
  color: #000 !important;
}

.todayActive {
  background-color: #dd0000;
  color: #fff !important;
  position: relative;
}
.two {
  position: absolute;
  z-index: 999;
  top: 100px;
  left: -50px;
}
.two .grid-item {
  padding: 20px 20px;
}
/* .todayActive .two {
  display: none;
}
.todayActive:hover .two {
  display: block;
  transition-duration: 5s;
} */
.angleStyle:hover {
  color: #dd0000 !important;
}

.tomorrowMatches {
  position: relative;
}

.tomorrow {
  position: absolute;
  z-index: 999;
  top: 100px;
  left: -156px;
  display: none;
}

.tomorrow .grid-item {
  padding: 20px 20px;
}

.tomorrowMatches:hover .tomorrow {
  display: block;
  background-color: #fff;
}

.willUpdate {
  position: relative;
}
.willUpdate:hover .upComing {
  display: block;
}

.upComing {
  position: absolute;
  background-color: #fff;
  top: 100px;
  left: -300px;
  z-index: 9999;
  width: 850px;
  height: 200px;
  display: none;
  color: #4d4d4d;
}

/* ===== Upcoming sections Part Two end ===== */
/* ===== Upcoming sections Footer start ===== */

.upComingFooter {
  width: 600px;
  margin: auto;
  background-image: url("images/upFooter.png");
  padding: 10px 20px 30px 0;
  border-radius: 5px;
}
.upComingFooterBanner {
  display: flex;
  position: relative;
}
.upComingFooterBanner .img {
  flex-grow: 1;
  position: relative;
}
.upComingFooterBanner img {
  width: 230px;
  height: auto;
  position: absolute;
  top: 2%;
  left: -120px;
}
.upComingFooterContent {
  flex-grow: 8;
}

.upComingFooterContent h2 {
  padding: 20px 0 20px 150px;
  text-transform: uppercase;
  color: #fff;
  font-size: 20px;
}
.upComingFooterContent p {
  padding: 0 0 20px 150px;
  color: #fff;
  font-size: 14px;
  width: 80%;
}
.upComingFooterContent .fbtn {
  margin: 0 0 0 150px;
  color: #dd0000;
  font-size: 14px;
  background-color: #fff;
}
.upComingFooterContent .fbtn:hover {
  margin: 0 0 0 150px;
  color: #fff;
  font-size: 14px;
  background-color: #dd0000;
  border: 1px solid #fff;
}
